@font-face {
    font-family: "Playfair Display";
    src: url("./playfairdisplay/PlayfairDisplay-VariableFont_wght.woff2")
        format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Playfair Display";
    src: url("./playfairdisplay/PlayfairDisplay-Italic-VariableFont_wght.woff2")
        format("woff2");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("./montserrat/Montserrat-VariableFont_wght.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
